<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=<device-width>, initial-scale=1.0">
<title>Ferramentas de Desenvolvimento Web - UNINTER</title>
<link rel="icon" type="image/x-icon" href="assets/girl.png" />
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/girl.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
        Agenda da Nattana
      </a>
    </div>
  </nav>
  <div class="container-fluid">
    <app-arquivo></app-arquivo>

    <small class="text-muted">Ícone com atribuição requerida: icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small>
  </div>
</body>
</html>
